@font-face {
    font-family: 'poppins';
    src: url(./fonts/Poppins-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: black;
    font-family: 'poppins', sans-serif;
}

.nav-link:hover {
    color: #d90404;
    text-shadow: 0px 0px 1px #070707;
}

.container .row select {
    width: fit-content;
    color: #ffff;
    border-radius: 5px;
    background-color: #2745fa;
    transition: 0.5s;
    padding: 2px;
    border: none;

}
.container .row select:hover{
    color: #2745fa;
    background-color: #ffff;
    border:none;
}

.container .row p {
    display: inline-block;
}

.container .row i {
    color: #5fd144;
}

.link {
    color: #d90404;
    text-decoration: none;

}

.link:hover {
    color: #2745fa;
}

.cart {
    display: none !important;

}

@media only screen and (max-width:590px) {
    .cart {
        color: #5fd144;
        font-size: x-large !important;
        display: block !important;
        border-radius: 40px;
        padding: 4px;
        box-shadow: 2px 1px 6px #5fd144;
    }
}

/* .container-fluid .navbar-toggler {
    color: #2745fa !important;
    border: none;
    border-radius: 40px;
    padding: 4px;
    box-shadow: 2px 1px 6px #5fd144;
    transition: 7s; 
}*/



.navbar-toggler:focus {
    box-shadow: 3px 4px 10px #5fd144;
}

.container .dropdown .catagory {
    border-radius: 40px;
    color: #ffff;
    font-weight: 300;
    transition: 0.5s;
    background-color: #2745fa;
    box-shadow: 1px 0px 3px black;
}

.container .dropdown .catagory:hover {
    color:#2745fa;
    background-color: #ffff;

}

.dropdown-menu {
    border: none;
}

.dropdown-item:hover {
    border-radius: 8px;
    background-color: antiquewhite;
    color: #070707;
    display: inline;
}

@media (max-width: 570px) {
    .width {
        width: fit-content!important;
        height: 30px;
        margin-left: 110px;
        margin-top: -34px;
        border-radius: 10px;
    }
}
.width {
    width: 1000px;
    height: 30px;
    margin-left: 110px;
    margin-top: -30px;
    border-radius: 10px;
    /* background-color: rgb(241, 240, 240); */
}

marquee {
    color:#d90404;
    padding-top: 5px;
}
.username-label{
    color: #d90404;

}
.input-placeholder{
    border: none;
    padding: 5px;
    display: block;
}
