@font-face {
    font-family: 'poppins';
    src: url(./fonts/Poppins-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: black;
    font-family: 'poppins',sans-serif;
}
.nav-link:hover{
    color: #d90404;
    text-shadow: 0px 0px 1px #070707;
}
.container .row select{
    width: fit-content;
    color:#5fd144;
    border-radius: 5px;
    border-color:#5fd144 ;
    
}
.container .row p{
    display: inline-block;
}
.container .row i{
    color: #5fd144;
}
.link{
    color: #d90404;
    text-decoration: none;

}
.link:hover{
    color: #2745fa;
}
.cart{
    display: none !important;
}
@media only screen and (max-width:590px) {
    .cart{
        color: #5fd144;
        font-size: x-large !important;
        display: block !important;
        border-radius: 40px;
        padding: 4px;
        box-shadow: 2px 1px 6px #5fd144;
    }
}
.container-fluid .navbar-toggler{
    color: #2745fa !important;
    border:none;
    border-radius: 40px;
    padding: 4px;
    box-shadow:2px 1px 6px #5fd144;
    transition: 7s;
}
.icon-nav:active:hover{
    transform: rotate(120deg) !important;
}
.navbar-toggler{
    color: #2745fa;
}
/* .back-img{
    border-radius: 20px;
    width: 380px;
    opacity: 0.5;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.centered h1{
    font-family:cursive;
    font-weight: 800;
    font-size: larger;
} */
.carousel-inner .carousel-item img{
    border-radius: 10px;
    filter: blur(0.2rem);

}